<div class="row">
	<center>
		<h1>Travel Together Better</h1>
		<h3>Plan a trip with people you know or browse and join others.</h3>
	</center>
</div>
<div class="row">
	<div class="col-md-6">
		<center>
			<iframe scrolling="no" allowtransparency="true" width="286" height="199" src="//www.youtube.com/embed/COGTAGcLOss" frameborder="0" allowfullscreen=""></iframe>
		</center>
	</div>
	<div class="col-md-6">
		<%= form_tag('/trip') do -%>
		<div class="form-horizontal">
			<div class="form-group">

				<h3> <%= label_tag 'name',"Name your trip", :class=>"control-label" %></h3>
				<%= text_field_tag 'name', nil, :class => 'form-control', :placeholder => 'Trip name...'%>

			</div>
			<button type="submit" class="btn btn-success col-md-4 input-lg" id="start_trip" >
				Start
			</button>
		</div>

		<% end -%>
	</div>
</div>
